@import "../../variables";

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 45px;
  &__items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__box {
    font-size: 1.4rem;
    color: #000;
  }
  &__top-text {
    padding-right: 10px;
  }
  &__btn {
    color: #8f3c00;
    cursor: pointer;
    &:not(.cards__btn--active):hover {
      animation: jump 1s infinite;
    }
    & + & {
      margin-left: 15px;
    }
  }
  &__btn--active {
    color: #000;
    cursor: default;
  }
  &__select-box {
    position: relative;
    display: inline-block;
  }
  &__select {
    border: 1px solid #dedede;
    z-index: 1;
    background-color: transparent;
    border-radius: 3px;
    width: 50px;
    height: 33px;
    padding-left: 2px;
  }
}

@keyframes jump {
  from {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3px);
  }
  70% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1250px) {
  .cards {
    &__items-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 930px) {
  .cards {
    &__items-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 610px) {
  .cards {
    &__items-wrapper {
      grid-template-columns: 1fr;
    }
    &__top {
      flex-direction: column;
      row-gap: 15px;
    }
  }
}

.pets {
  background-color: #f6f6f6;
  &__paginator {
    display: flex;
  }
  &__arrow-circle {
    position: relative;
    height: 52px;
    width: 52px;
    margin: 0 10px;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    transition: all 0.15s linear;
    font-size: 0;
    border: 2px solid $acc-col;
    path {
      fill: #292929;
    }
    &:disabled {
      cursor: default;
      border: 2px solid #cdcdcd;
      .pets__svg-path {
        fill: #cdcdcd;
      }
    }
    &--next {
      transform: rotate(180deg);
    }
  }
  &__svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__svg-path {
    &--mod {
      transform: translateX(2px);
    }
  }
  &__page {
    display: inline-block;
    height: 52px;
    width: 52px;
    margin: 0 10px;
    border: 2px solid $acc-col;
    border-radius: 50%;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    background-color: transparent;
    color: #292929;
    transition: all 0.2s linear;
    &:hover {
      cursor: pointer;
      background-color: $hov-col;
      border-color: $hov-col;
    }
    &--current {
      cursor: default;
      background-color: $acc-col;
      border-color: $acc-col;
    }
  }
}
