@import '../../variables';

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 45px;

  &__items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 1250px) {
  .cards {
    &__items-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 930px) {
  .cards {
    &__items-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 610px) {
  .cards {
    &__items-wrapper {
      grid-template-columns: 1fr;
    }
  }
}

.pets {
  background-color: #f6f6f6;
  &__paginator {
    display: flex;
  }
  &__arrow-circle {
    position: relative;
    height: 52px;
    width: 52px;
    margin: 0 10px;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    transition: all .15s linear;
    font-size: 0;
    border: 2px solid $acc-col;
    path {
      fill: #292929;
    }
    &:disabled {
      cursor: default;
      border: 2px solid #cdcdcd;
      .pets__svg-path {
        fill: #cdcdcd;
      }
    }
    &--next {
      transform: rotate(180deg);
    }
  }
  &__svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__svg-path {
    &--mod {
      transform: translateX(2px);
    }
  }
  &__page {
    display: inline-block;
    height: 52px;
    width: 52px;
    margin: 0 10px;
    border: 2px solid $acc-col;
    border-radius: 50%;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    background-color: transparent;
    color: #292929;
    transition: all .2s linear;
    &:hover {
      cursor: pointer;
      background-color: $hov-col;
      border-color: $hov-col;
    }
    &--current {
      cursor: default;
      background-color: $acc-col;
      border-color: $acc-col;
    }
  }
}