html {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;  
  font-weight: 400;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

body {
  font-family: Georgia, serif;
  font-size: 15px;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;  
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.blur {
  display: none;
  position: absolute;
  left: -15%;
  top: 0;
  width: 115%;
  height: 100%;
  background-color: rgb(41, 41, 41);
  z-index: 2;
  opacity: 0;
  transition: all .4s;
}